._*
.#*
.bundle
.DS_Store
.fuse*
.sass-cache/
.idea/
.rbenv-version
*~
*.pyc
*.swn
*.swo
*.swp
*.swn
db/*.sqlite3
db/sphinx
config/application_extra.yml
config/development.sphinx.conf
config/nginx/development.config
config/nginx/discovered.config
config/unicorn/development.rb
coverage/*
coverage/
chromedriver.log
log/*.log
log/searchd.development.pid
tmp/
TODO.md
bundler_stubs
bin/*.csv
bin/t
bin/old
insight.sqlite
KNOWN_FAILS*
jenkins/
brand-table.csv
collection-titles.csv
topic-table.csv
