<h1>LoveIt Tests Fixture File</h1>
<p>Contains images for use in specs, to be served elsewhere.</p>

<%= image_tag('test_1.png', :alt => "Alt text for test image #1 - PNG ")%>
<%= image_tag('test_2.gif', :alt => "Alt text for test image #2 - GIF ")%>
<%= image_tag('test_3.jpg', :alt => "Alt text for test image #3 - JPG ")%>



